---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";
@import "download.scss";

.navbar a.active {
    background-color: rgb(252, 252, 252);
}

@media (prefers-color-scheme: dark) {
    .navbar a.active {
        background-color: #232629;
    }
}

.carousel .carousel-item {
    padding: 10px;
}

div.block:nth-of-type(2n) .kAppInfo-content {
    text-align: right;
}

#kHeader {
  @media (max-width: 1000px) {
    height: 750px;
  }
  @media (max-width: 600px) {
    height: 600px;
  }
}
